.keyboard{
    background: #F6F6F6;
    padding: 45px 50px;
    border-radius: 50px;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 12px;
    width: 1110px;
}

.scoreBoard {
    font-size: 25px;
    border: 2px solid #60C1B6;
    font-family: 'Inter', sans-serif;
    width: 150px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin: -15px auto 20px auto;
}