.App{
    position: relative;
}

h1 {
    color: #60C1B6;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: .75rem;
    text-align: center;
    position: absolute;
    top: -50px;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
  }
  